/* estilos.css */

body {
    font-family: Arial, sans-serif;
    background-color: #aeaeae;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  header {
    background-color: #222;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    border-bottom: 5px solid #f55539;
  }
  
  main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #eee;
    font-size: 0.9em;
    margin-top: 40px;
  }
  